.site-footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.site-footer a {
  color: #ffcc00;
  text-decoration: none;
  margin: 0 5px;
}

.site-footer a:hover {
  text-decoration: underline;
}
